Repository taco0513/DINOapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, tsc --noEmit, prisma format

fix: 로그인 루프 문제 해결 - SessionCheck 컴포넌트 개선
  components/auth/SessionCheck.tsx
Due: eslint --fix, prettier --write, tsc --noEmit

fix: 로그인 루프 완전 해결 - middleware와 auth 리디렉션 로직 개선
  VERCEL_ENV_CHECKLIST.md
  lib/auth.ts
  middleware.ts
Due: eslint --fix, prettier --write, tsc --noEmit

fix: 로그인 루프 최종 해결 - 디버그 엔드포인트 추가 및 callbackUrl 처리 개선
  VERCEL_ENV_CHECKLIST.md
  app/api/debug/auth/route.ts
  app/auth/signin/page.tsx
Due: eslint --fix, prettier --write, tsc --noEmit

fix: 로그인 루프 최종 해결 - 쿠키 도메인 설정 수정
  app/api/debug/auth/route.ts
  lib/auth.ts
Due: eslint --fix, prettier --write, tsc --noEmit

fix: NextAuth 쿠키 설정 심플화 - 기본 설정으로 복원
  app/api/auth/test/route.ts
  lib/auth.ts
  middleware.ts
Due: eslint --fix, prettier --write, tsc --noEmit

fix: NextAuth 쿠키 이름 프로덕션 환경에 맞게 수정 - __Secure 접두사 추가
  lib/auth.ts
  middleware.ts
Due: eslint --fix, prettier --write, tsc --noEmit

debug: 환경 변수 및 데이터베이스 연결 디버깅 추가
  app/api/debug/auth/route.ts
  app/api/debug/db/route.ts
Due: eslint --fix, prettier --write, tsc --noEmit

debug: NextAuth 디버그 모드 활성화 및 세션 디버깅 추가
  app/api/auth/signin-test/route.ts
  app/api/debug/session/route.ts
  lib/auth.ts
Due: eslint --fix, prettier --write, tsc --noEmit

fix: NextAuth 계정 연결 문제 해결 - profile 콜백 추가 및 디버깅 강화
  app/api/debug/reset-user/route.ts
  lib/auth.ts
Due: eslint --fix, prettier --write, tsc --noEmit

UI: Gmail 페이지 미니멀 디자인 시스템 적용 - 색상 버튼 대신 통일된 스타일 사용
  components/gmail/GmailIntegration.tsx
  lib/auth.ts
Due: eslint --fix, prettier --write, tsc --noEmit

feat: 미니멀 디자인 시스템 전체 적용 완료
  app/auth/error/page.tsx
  app/dashboard/monitoring/page.tsx
  app/dashboard/page.tsx
  app/debug/page.tsx
  app/offline/page.tsx
  app/simple.tsx
  app/simple/page.tsx
  app/test-auth/page.tsx
  components/WireframeTripCard.tsx
  components/WireframeTripForm.tsx
  components/calendar/CalendarSync.tsx
  components/data/DataExportImport.tsx
  components/gmail/GmailAnalyzer.tsx
  components/gmail/GmailIntegration.tsx
  components/layout/Header.tsx
  components/layout/MainLayout.tsx
  components/mobile/MobileActionSheet.tsx
  components/mobile/MobileBottomNav.tsx
  components/monitoring/PerformanceDashboard.tsx
  components/notifications/NotificationIcon.tsx
  components/notifications/NotificationList.tsx
  components/notifications/NotificationSettings.tsx
  components/pwa/OfflineIndicator.tsx
  components/pwa/PWAInstallButton.tsx
  components/schengen/FutureTripPlanner.tsx
  components/schengen/SchengenCalculator.tsx
  components/schengen/SchengenChart.tsx
  components/trips/TripForm.tsx
  components/ui/LanguageSelector.tsx
  components/ui/LoadingSpinner.tsx
  components/ui/PageHeader.tsx
  styles/components.css
Due: eslint --fix, prettier --write, tsc --noEmit

checkpoint: update @ 2025-07-29 03:00 @ 2025-07-29 03:00
  checkpoints/checkpoint-2025-07-29_03-00-update.md
  docs/roadmap.md
Due: prettier --write

docs: Update Testing & QA documentation to Korean format
  PROGRESS.md
  documentation/MASTER_PLAYBOOK/09_Testing_QA/README.md
Due: prettier --write

🚀 AI 협업 시스템 개발 완료 체크포인트
  checkpoints/checkpoint-ai-collaboration-2025-01-28.md
Due: prettier --write

📅 Session Start Checkpoint - 2025-07-29 03:07
  PROGRESS.md
  checkpoints/session-start-2025-07-29_03-07.md
Due: prettier --write

🎉 핵심 비즈니스 로직 구현 완료 - 여행 관리 시스템
  PROGRESS.md
  app/api/trips/[id]/route.ts
  app/api/trips/insights/route.ts
  app/api/trips/route.ts
  app/api/trips/validate/route.ts
  checkpoints/core-business-logic-2025-07-29_03-20.md
  components/travel/EnhancedTripForm.tsx
  components/travel/TravelInsightsDashboard.tsx
  components/travel/TravelManagementPage.tsx
  lib/travel-manager.ts
  prisma/schema.prisma
Due: eslint --fix, prettier --write, tsc --noEmit, prisma format

checkpoint: --completed @ 2025-07-29 03:38 @ 2025-07-29 03:38
  checkpoints/checkpoint-2025-07-29_03-38---completed.md
  docs/roadmap.md
Due: prettier --write

🚀 Living Documentation 시스템 구축 완료
  .claude/current-focus.md
  .claude/last-quality-score.txt
  .claude/learned-patterns.md
  .claude/project-context.md
  PROGRESS.md
  checkpoints/checkpoint-2025-07-29_03-25-verification-complete.md
  components/common/PageHeader.tsx
  components/ui/dropdown-menu.tsx
  components/ui/select.tsx
  components/ui/textarea.tsx
  docs/errors/2025-07.md
  lib/travel-manager.ts
  package-lock.json
  package.json
  prisma/dev.db
  prisma/migrations/20250728202452_initial_travel_management_schema/migration.sql
  prisma/migrations/migration_lock.toml
  scripts/living-docs/quality-check.sh
  scripts/living-docs/setup-context.sh
  scripts/living-docs/update-context.sh
  scripts/test-api-endpoints.ts
  scripts/test-travel-manager.mjs
  scripts/test-travel-manager.ts
Due: eslint --fix, prettier --write, tsc --noEmit

📅 Session Start Checkpoint - 2025-07-29 09:47
  checkpoints/checkpoint-session-start-2025-07-29-09-47.md
Due: prettier --write

checkpoint: update @ 2025-07-29 13:41 @ 2025-07-29 13:41
  checkpoints/checkpoint-2025-07-29_13-41-update.md
  docs/roadmap.md
Due: prettier --write

🔐 백업 & 복구 전략 구현 완료
  app/admin/backup/page.tsx
  app/api/backup/route.ts
  app/api/recovery/route.ts
  lib/backup/backup-scheduler.ts
  lib/backup/recovery-manager.ts
  scripts/backup/backup-db.js
  scripts/backup/backup-files.js
  scripts/backup/test-recovery.js
Due: eslint --fix, prettier --write, tsc --noEmit

🚀 MVP 안정성: 배포 자동화 완료
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  package.json
  scripts/deployment/health-check.js
  scripts/deployment/monitor.js
  scripts/deployment/rollback.js
  vercel.json
  vercel.staging.json
Due: eslint --fix, prettier --write

🚀 성능 최적화 시스템 구축 완료
  README.md
  app/api/monitoring/performance/route.ts
  app/layout.tsx
  components/onboarding/OnboardingFlow.tsx
  components/performance/PerformanceMonitor.tsx
  components/ui/optimized-image.tsx
  docs/api/README.md
  docs/development/architecture.md
  docs/development/setup.md
  docs/operations/deployment.md
  docs/operations/troubleshooting.md
  docs/user/getting-started.md
  lib/middleware/performance.ts
  lib/performance/api-cache.ts
  lib/performance/database-optimizer.ts
  lib/performance/dynamic-imports.ts
  lib/performance/resource-optimization.ts
  next.config.js
  package.json
  prisma/performance/indexes.sql
  scripts/performance/database-optimize.js
Due: eslint --fix, prettier --write, tsc --noEmit

checkpoint: living-docs-complete @ 2025-07-29 17:27 @ 2025-07-29 17:27
  checkpoints/checkpoint-2025-07-29_17-27-living-docs-complete.md
  docs/roadmap.md
Due: prettier --write

checkpoint: session-complete @ 2025-07-29 17:31 @ 2025-07-29 17:31
  checkpoints/checkpoint-2025-07-29_17-31-session-complete.md
  docs/roadmap.md
Due: prettier --write

📚 Living Documentation 품질 70% 달성 완료 체크포인트
  checkpoints/checkpoint-living-docs-complete-2025-07-29.md
Due: prettier --write

🧪 유틸리티 함수 테스트 커버리지 확대 - API 캐시 모듈
  __tests__/api/health.test.ts
  __tests__/api/trips-comprehensive.test.ts
  __tests__/components/ErrorBoundary.test.tsx
  __tests__/components/LoadingSpinner.test.tsx
  __tests__/components/SchengenCalculator.test.tsx
  __tests__/components/TripCard.test.tsx
  __tests__/lib/performance/api-cache.test.ts
  __tests__/lib/security/input-validation.test.ts
  app/ai/page.tsx
  app/trips/page.tsx
  checkpoints/checkpoint-utility-tests-api-cache-2025-01-29.md
  docs/roadmap.md
  lib/backup/backup-scheduler.ts
  lib/security/input-validation.ts
  next.config.js
  package-lock.json
  package.json
  parallel-tasks-completion-report.md
  performance-optimization-results.md
  prisma/dev.db
Due: eslint --fix, prettier --write, tsc --noEmit

🎉 사용자 설정 시스템 완전 구현 및 UX 대폭 개선
  PROGRESS.md
  app/api/gmail/analyze/route.ts
  app/api/gmail/search/route.ts
  app/calendar/page-old.tsx
  app/calendar/page.tsx
  app/profile/page.tsx
  app/settings/page.tsx
  checkpoints/user-settings-complete.md
  components/calendar/MiniDatePicker.tsx
  components/calendar/StayVisualizationCalendar.tsx
  components/layout/Header.tsx
  lib/gmail.ts
  lib/i18n.ts
  styles/components.css
Due: eslint --fix, prettier --write, tsc --noEmit

📍 체크포인트: 현재 상태 점검 및 진행률 85% 달성
  checkpoints/checkpoint-2025-07-29_21-20-current-status.md
  docs/roadmap.md
Due: prettier --write

🔧 Database connection errors resolved & error handling enhanced
  PROGRESS.md
  app/api/notifications/route.ts
  app/api/schengen/route.ts
  app/api/stats/route.ts
  app/api/trips/[id]/route.ts
  app/api/trips/insights/route.ts
  app/api/trips/route.ts
  app/api/trips/validate/route.ts
  app/dashboard/error.tsx
  app/dashboard/page.tsx
  checkpoints/checkpoint-database-errors-fixed-2025-07-29.md
  components/error-boundary/ApiErrorBoundary.tsx
  components/layout/Header.tsx
  components/mobile/MobileBottomNav.tsx
  components/onboarding/OnboardingFlow.tsx
  styles/components.css
Due: eslint --fix, prettier --write, tsc --noEmit

✅ 여행 일정 캘린더 뷰 구현 완료
  __tests__/components/dashboard/StatsCard.test.tsx
  __tests__/components/ui/SkipLink.test.tsx
  __tests__/hooks/useDebounce.test.ts
  __tests__/hooks/useLocalStorage.test.ts
  __tests__/lib/webVitals.test.ts
  app/analytics/page.tsx
  app/calendar/page.tsx
  app/dashboard/page.tsx
  app/globals.css
  app/layout.tsx
  app/profile/page.tsx
  app/schengen/page.tsx
  app/settings/page.tsx
  app/trips/page.tsx
  bun.lock
  checkpoints/calendar-implementation-2025-07-30.md
  components/calendar/TravelCalendarView.tsx
  components/dashboard/AlertCard.tsx
  components/dashboard/StatsCard.tsx
  components/dashboard/TravelStatsWidget.tsx
  components/mobile/MobileModal.tsx
  components/mobile/MobileNav.tsx
  components/mobile/PullToRefresh.tsx
  components/mobile/SwipeableCard.tsx
  components/onboarding/OnboardingFlow.tsx
  components/schengen/SchengenUsageChart.tsx
  components/trips/MobileTripCard.tsx
  components/trips/TripForm.tsx
  components/ui/OptimizedImage.tsx
  components/ui/SkipLink.tsx
  docs/roadmap.md
  hooks/useDebounce.ts
  hooks/useLocalStorage.ts
  jest.setup.js
  lib/webVitals.ts
  package.json
  styles/mobile.css
  tests/e2e/accessibility.spec.ts
  tests/e2e/mobile.spec.ts
Due: eslint --fix, prettier --write, tsc --noEmit

🌍 국제화 시스템 완전 구현 완료
  app/i18n-test/page.tsx
  components/i18n/TranslationProvider.tsx
  components/ui/EnhancedLanguageSelector.tsx
  hooks/useI18n.tsx
  lib/i18n-batch-update.ts
  lib/i18n-extended.ts
  lib/i18n-utils.ts
  lib/i18n.ts
  package-lock.json
  prisma/dev.db
Due: eslint --fix, prettier --write, tsc --noEmit

📍 페이지 헤더 표준화 및 서버 안정성 완성
  app/analytics/page.tsx
  app/api/monitoring/metrics/route.ts
  app/api/notifications/route.ts
  app/dashboard/page.tsx
  app/gmail/page.tsx
  app/monitoring/page.tsx
  app/schengen/page.tsx
  app/trips/page.tsx
  checkpoints/2025-07-30-page-header-standardization.md
  components/common/PageHeader.tsx
  components/feedback/FeedbackButton.tsx
  docs/roadmap.md
  lib/database/connection-pool.ts
  lib/performance/dynamic-imports.ts
  lib/performance/dynamic-imports.ts.disabled
Due: eslint --fix, prettier --write, tsc --noEmit

📍 체크포인트: 페이지 문서화 39% 완료 및 보안 이슈 해결
  .env.example
  README.md
  app/admin/analytics/page.tsx
  app/admin/backup/page.tsx
  app/admin/metrics/page.tsx
  app/admin/monitoring/page.tsx
  app/admin/performance/page.tsx
  app/ai/page.tsx
  app/api/ai/assist/route.ts
  app/api/ai/generate-code/route.ts
  app/settings/page.tsx
  checkpoints/2025-01-30-documentation-progress.md
  components/admin/BackupManagementDashboard.tsx
  components/admin/MonitoringDashboard.tsx
  components/ai/AIAssistant.tsx
  components/common/PageHeader.tsx
  docs/AI_SERVICE_INTEGRATION_PLAN.md
  docs/pages/README.md
  docs/pages/_template.md
  docs/pages/ai.md
  docs/pages/analytics.md
  docs/pages/calendar.md
  docs/pages/dashboard.md
  docs/pages/gmail.md
  docs/pages/home.md
  docs/pages/index.md
  docs/pages/monitoring.md
  docs/pages/profile.md
  docs/pages/schengen.md
  docs/pages/settings.md
  docs/pages/trips.md
  docs/pages/visa-check.md
  lib/ai/factory.ts
  lib/ai/services/base.ts
  lib/ai/services/mock.ts
  lib/ai/types.ts
  prisma/schema.prisma
Due: eslint --fix, prettier --write, tsc --noEmit, prisma format

🎨 랜딩페이지 완전 재디자인 - 럭셔리 UI 시스템 구축
  app/api/trips/route.ts
  app/page.tsx
  lib/database/dev-prisma.ts
  styles/components.css
  styles/design-tokens.css
Due: eslint --fix, prettier --write, tsc --noEmit

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,css,md})
  tsc --noEmit: any of: *.{ts,tsx}
  prisma format: any of: prisma/schema.prisma
