Repository taco0513/DINOapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, tsc --noEmit, prisma format

fix: conditional bundle analyzer loading for production build
  next.config.js
Due: eslint --fix, prettier --write

fix: server-side DOMPurify fallback for production build
  lib/security/input-sanitizer.ts
Due: eslint --fix, prettier --write, tsc --noEmit

Fix DOMPurify SSR issue for Vercel deployment
  lib/security/input-sanitizer.ts
Due: eslint --fix, prettier --write, tsc --noEmit

Remove DOMPurify dependency and use server-safe HTML sanitization
  lib/security/input-sanitizer.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, tsc --noEmit

Remove remaining isomorphic-dompurify import from lib/security.ts
  lib/security.ts
Due: eslint --fix, prettier --write, tsc --noEmit

Fix 'self is not defined' error in Vercel deployment
  next.config.js
Due: eslint --fix, prettier --write

Add comprehensive fix for 'self is not defined' SSR error
  lib/polyfills.js
  next.config.js
  vercel.json
Due: eslint --fix, prettier --write

Simplify webpack configuration - remove complex polyfills
  lib/polyfills.js
  next.config.js
Due: eslint --fix, prettier --write

Fix missing Tailwind CSS directives in production
  app/globals.css
Due: prettier --write

Replace inline styles with Tailwind CSS classes in dashboard
  app/dashboard/page.tsx
Due: eslint --fix, prettier --write, tsc --noEmit

Fix PostCSS configuration for Tailwind CSS
  postcss.config.js
Due: eslint --fix, prettier --write

Update CLAUDE.md with wireframe-first development principle
  claude.md
Due: prettier --write

Complete minimal wireframe MVP UI design
  app/dashboard/page.tsx
Due: eslint --fix, prettier --write, tsc --noEmit

Create REAL wireframe design with inline styles
  app/dashboard/page.tsx
Due: eslint --fix, prettier --write, tsc --noEmit

Convert global navigation to wireframe style
  components/layout/Header.tsx
  components/mobile/MobileBottomNav.tsx
Due: eslint --fix, prettier --write, tsc --noEmit

Fix global navigation SSR issues with proper CSS classes
  components/layout/Header.tsx
  components/mobile/MobileBottomNav.tsx
Due: eslint --fix, prettier --write, tsc --noEmit

Fix header visibility with proper responsive logic
  components/layout/Header.tsx
  components/mobile/MobileBottomNav.tsx
Due: eslint --fix, prettier --write, tsc --noEmit

Fix MainLayout to always show header regardless of auth status
  components/layout/MainLayout.tsx
Due: eslint --fix, prettier --write, tsc --noEmit

Fix header visibility with explicit height and layout
  components/layout/Header.tsx
Due: eslint --fix, prettier --write, tsc --noEmit

Fix Tailwind PostCSS configuration and clean reinstall packages
  package-lock.json
Due: prettier --write

Move Tailwind dependencies to production dependencies
  package-lock.json
  package.json
Due: prettier --write

Fix autoprefixer missing dependency
  package-lock.json
  package.json
Due: prettier --write

Re-enable CSRF protection with improved Vercel compatibility
  app/api/schengen/route.ts
  app/api/stats/route.ts
  app/api/test-db/route.ts
  app/api/trips/[id]/route.ts
  app/api/trips/route.ts
  docs/ANALYTICS_DASHBOARD.md
  docs/DATA_MANAGEMENT_SYSTEM.md
  docs/NOTIFICATION_SYSTEM.md
  lib/api-client.ts
  lib/auth.ts
  lib/database/dev-prisma.ts
  lib/database/query-optimizer.ts
  lib/security/csrf-protection.ts
  prisma/dev.db
  prisma/migrations/20250726032603_init/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.local.prisma
  tasks.md
Due: eslint --fix, prettier --write, tsc --noEmit

Fix logout functionality for Vercel deployment
  components/layout/Header.tsx
  lib/auth.ts
Due: eslint --fix, prettier --write, tsc --noEmit

Add custom logout endpoint and improve logout handling
  app/api/auth/logout/route.ts
  app/page.tsx
  components/layout/Header.tsx
  lib/auth.ts
Due: eslint --fix, prettier --write, tsc --noEmit

Implement dedicated logout page and strengthen logout process
  app/api/auth/logout/route.ts
  app/logout/page.tsx
  app/page.tsx
  components/layout/Header.tsx
  middleware.ts
Due: eslint --fix, prettier --write, tsc --noEmit

Fix logout functionality with custom signout page and enhanced cookie clearing
  app/api/auth/[...nextauth]/route.ts
  app/logout/page.tsx
  lib/auth.ts
Due: eslint --fix, prettier --write, tsc --noEmit

Fix ERR_TOO_MANY_REDIRECTS by simplifying logout flow
  app/logout/page.tsx
  docs/SUPERCLAUSE_COMMAND_REFERENCE.md
  docs/SUPERCLAUSE_VIBE_CODING_GUIDE.md
  lib/auth.ts
  middleware.ts
Due: eslint --fix, prettier --write, tsc --noEmit

Implement force logout with server-side cookie clearing
  .DS_Store
  app/api/auth/[...nextauth]/route.ts
  app/api/force-logout/route.ts
  app/logout/page.tsx
  docs/CONTEXT7_VIBE_CODING_PLAYBOOK.md
  lib/auth.ts
Due: eslint --fix, prettier --write, tsc --noEmit

Implement comprehensive notification system and multi-language support
  .DS_Store
  __tests__/e2e/app-functionality.spec.ts
  __tests__/e2e/auth.spec.ts
  app/api/gmail/check/route.ts
  app/api/notifications/route.ts
  app/api/trips/[id]/route.ts
  app/api/trips/route.ts
  app/dashboard/page.tsx
  app/globals.css
  app/schengen/page.tsx
  app/trips/page.tsx
  components/notifications/NotificationIcon.tsx
  components/trips/TripForm.tsx
  components/ui/LanguageSelector.tsx
  components/ui/LanguageTest.tsx
  docs/BMAD_METHOD_WORKFLOW_PLAYBOOK.md
  lib/api-client.ts
  lib/auth.ts
  lib/i18n.ts
  next-env.d.ts
  next.config.js
  package-lock.json
  package.json
  playwright-report/data/10c1e1ff6d2e0ba64f3ad2c01b08a8d60a55380e.webm
  playwright-report/data/11f86a82f4fdf991a9bb16d3d4b9dbefd941e26a.md
  playwright-report/data/d3ed42af49336c0378c829dd244e236519579fec.png
  playwright-report/index.html
  playwright-results.json
  postcss.config.js
  prisma/prisma/dev.db
  prisma/schema.dev.prisma
  public/sw.js
  test-results/.last-run.json
  test-results/app-functionality-App-Func-746b0--handle-authentication-flow-chromium/error-context.md
  test-results/app-functionality-App-Func-746b0--handle-authentication-flow-chromium/test-failed-1.png
  test-results/app-functionality-App-Func-746b0--handle-authentication-flow-chromium/video.webm
  test-results/app-functionality-App-Func-8016f-CSS-and-JavaScript-properly-chromium/error-context.md
  test-results/app-functionality-App-Func-8016f-CSS-and-JavaScript-properly-chromium/test-failed-1.png
  test-results/app-functionality-App-Func-8016f-CSS-and-JavaScript-properly-chromium/video.webm
Due: eslint --fix, prettier --write, tsc --noEmit

chore(deps): update dependencies
  next-env.d.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, tsc --noEmit

fix: Vercel 빌드 에러 수정 - husky 스크립트 조건부 실행
  package.json
Due: prettier --write

fix: Rename analytics file to .tsx and resolve ESLint issues
  lib/analytics/vercel.tsx
Due: eslint --fix, prettier --write, tsc --noEmit

fix: 홈페이지 클라이언트 사이드 렌더링 문제 해결
  app/page.tsx
  components/auth/SessionCheck.tsx
Due: eslint --fix, prettier --write, tsc --noEmit

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,css,md})
  tsc --noEmit: any of: *.{ts,tsx}
  prisma format: any of: prisma/schema.prisma
